@model List<aspnetapp.Models.Sales>


<p>Salesperson TODO</p>

<div>
    @Html.ActionLink("Create New Salesperson","Create")
</div>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                
                <th>SalesPerson</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var sales in Model)
            {
                <tr>
                    <td>@sales.Id</td>
                    <td>@sales.Salesperson</td>
                                      
                                      
                    <td>
                        @Html.ActionLink("Edit","Edit", new {id = sales.Id}, null)
                    </td>
                    <td>
                     
                        @Html.ActionLink("Delete", "Delete", new {id= sales.Id}, null)
                    </td>
                </tr>
            }
            
        </tbody>    
    </table>
</form>